

@media screen and (min-width: 360px) {
  .app1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    gap: 10px;
  }
  .animation_div{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid black;
  }
  .title {
    color: rgb(172, 175, 86);
    font-size: 50px;
    text-align: center;
    animation: slide 5s infinite;
  }
  .title2 {
    color: rgb(109, 180, 89);
    font-size: 50px;
    text-align: center;
    animation: invert-slide 2s infinite;
  }
  .title3 {
    color: rgb(111, 111, 246);
    font-size: 50px;
    text-align: center;
    animation: slide 4s infinite;
  }
  .title4 {
    color: rgb(157, 71, 51);
    font-size: 50px;
    text-align: center;
    animation: invert-slide 1s infinite;
  }
  .title5 {
    color: rgb(192, 109, 203);
    font-size: 50px;
    text-align: center;
    animation: slide 8s infinite;
  }
  .title6 {
    color: rgb(150, 83, 156);
    margin-top: -40px;
    font-size: 50px;
    text-align: center;
    animation: slide 6s infinite;
  }
  .title7 {
    color: rgb(19, 19, 59);
    font-size: 50px;
    text-align: center;
    animation: slide 2.4s infinite;
  }
  .title8{
    position: absolute;
    left: 0%;
    color: rgb(19, 19, 59);
    font-size: 50px;
    text-align: center;
    animation: slide 4s infinite;
  }
  .title9{
    position: absolute;
    top: 17%;
    font-size: 20px;
    color: rgba(19, 198, 59, .2);
    font-size: 50px;
    text-align: center;
    animation: rotate 2.2s infinite;
  }
  .title10{
    position: absolute;
    top: 17%;
    left: 90%;
    font-size: 20px;
    color: rgba(19, 198, 59, .2);
    animation: invert-slide 2.2s infinite;
  }
  .title11{
    position: absolute;
    left: 80%;
    font-size: 30px;
    top: 7%;
    color: rgba(222, 14, 50, .2);
    animation: rotate 6.2s infinite;
  
  }
  .real_title {
    position: absolute;
    left: 50%;
    top: 8%;
    margin: 0 auto;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
  }
  .smaller_name {
    font-size: 20.5px;
    margin-top: 10px;
  }  
  .navBar {
    width: 66vw;
    margin: 0 auto; margin-top: 210px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .nav_item {
    list-style: none;
    color: rgb(155, 155, 155);
    font-size: 20px;
    margin: 0 7px;
    padding: 10px;
    border-radius: 10px;
  }
  .nav_item:hover {
    color: blue;
  };
  .thinking_box{
    margin-top: -40px;
    height: 100px;
    width: 100vw;
  }
  
  .thinking_negative_1{
    color: rgba(0, 0, 0, .07);
    margin-top: 48px;
    left: 23px;
    position: absolute;
    font-size: 31px;
  }
  .thinking0{
    margin-top: 40px;
    color: rgba(0, 0, 0, .1);
    position: absolute;
    font-size: 31px;
    left: 25px;

  }
  .thinking1{
    color: rgba(0, 0, 0, .2);
    position: absolute;    
    margin-top: 38px;
    left: 27px;
    font-size: 32px;
  }
  .thinking2{
    margin-top: 36px;
    left: 30px;
    position: absolute;
    font-size: 34px;
  }
  
  .name:hover {
    border-radius: 10px;
    background-color: rgba(255, 22, 22, 1);
    color: white;
    animation: none;
    cursor: pointer;
  }
  .name:hover .linkedin_tooltip {
    opacity: 100%;
  }
  .name {
    border: 1px soild red;
    animation: border-decoration 2s infinite;
  }
  .about_div {
    margin-top: 550px;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 900px;
    left: 0;
    background-color: rgb(5, 0, 0);
    width: 100%;
    flex-direction: column;
  }
  .who_text{
    font-size: 38px;
    position: absolute;
    top: -6.2%;
    transform: rotate(14deg);
    background: linear-gradient(346deg, rgb(176, 69, 139) 48%, black 41%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about {
    color: rgb(176, 69, 139);
    opacity: .6;
    font-size: 20px;
    animation: fadeInNOut 5s infinite;
    animation-timing-function: cubic-bezier(.43,2.76,.49,-1.94);
    margin-top: 70px;
  }
  .about1 {
    color: rgb(176, 69, 139);
    font-size: 20px;
    margin-top: 0px;
  }
  .about_bullet1 {
    display: none;
  }
  .about_bullet2 {
    display: none;
  }
  .about_bullet3 {
    display: none;
  }
  .about2 {
    color: rgb(176, 69, 139);
    font-size: 20px;
  }
  .about3 {
    color: rgb(176, 69, 139);
    font-size: 20px;
  }
  .about3point5 {
    color: rgb(114, 101, 17);
    font-size: 12px;
  }
  .about4 {
    color: rgb(176, 69, 139);
    font-size: 20px;
  }
  .about4point5 {
    color: rgb(114, 101, 17);
    font-size: 12px;
  }
  .about2point5 {
    color: rgb(114, 101, 17);
    font-size: 12px;
  }
  .projects_div {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 1300px;
    left: 0;
    text-align: center;
    z-index: 1;
    background-color: rgb(57, 59, 2);
    width: 100%;
    height: 2550px;
  }
  .why {
    z-index: 1;
    position: absolute;
    font-size: 40.7px;
    margin: 0 auto;
    margin-left: 50px;
    top: -27px;
    background: linear-gradient(180deg, rgb(176, 69, 139) 55%, black 46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .why1 {
    display: none;
    font-size: 18px;
    top: -14px;
    left: 68%;
  }
  .project1{
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  .project1_img {
    width: 100%;
    margin: 0 auto;
    height: 370px;
  }
  .project1_title {
    position: absolute;
    color: white;
    background-color: black;
    padding: 15px 20px;
    top: 360px;
    font-size: 20px;
  }
  .project1_desc {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
  }
  .project1_text{
    font-size: 18px;
    color: white;
    background-color: black;
    padding: 10px 20px;
  }
  .iwb_link:hover {
    color: rgb(162, 0, 255);
    cursor: pointer;
  }
  .project1_link{
    display: none;
  }
  .project1_git{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    width: 89vw;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project1_git:hover {
    cursor: pointer;
  }
  .project1_link:hover {
    cursor: pointer;
  }
  .project2{
    position: absolute;
    top: 780px;
    border-radius: 10px;
    height: 430px;
    width: 98vw;
    overflow: hidden;
  }
  .project2_title{
    position: absolute;
    top: 1150px;
    width: 89.3vw;
    font-size: 20px;
    padding: 15px 20px;
    background-color: black;
    color: white;
  }
  .project2_desc {
    position: absolute;
    top: 1250px;
    display: flex;
    flex-direction: column;
  }
  .project2_text{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px 20px;
  }
  .project2_link{
    font-size: 20px;
    position: absolute;
    top: 1480px;
    left: 0;
    width: 89vw;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project2_git{
    font-size: 20px;
    position: absolute;
    top: 1560px;
    left: 0;
    color: black;
    width: 89.3vw;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project3{
    position: absolute;
    top: 1650px;
    border-radius: 10px;
    height: 430px;
    width: 99vw;
    overflow: hidden;
  }
  .project3_title{
    position: absolute;
    font-size: 20px;
    top: 2010px;
    width: 89.3vw;
    padding: 15px 20px;
    background-color: black;
    color: white;
  }
  .project3_desc {
    position: absolute;
    top: 2105px;
    display: flex;
    flex-direction: column;
  }
  .project3_text{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px 20px;
  }
  .project3_link{
    position: absolute;
    font-size: 22px;
    width: 89.3vw;
    left: 0;
    top: 2360px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project3_git{
    position: absolute;
    font-size: 22px;
    top: 2450px;
    left: 0;
    width: 89.3vw;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .contact_div {
    position: absolute;
    flex-direction: column;
    margin-top: 3850px;
    left: 0;
    z-index: 10;
    border-top: 9px solid rgb(35, 21, 2);
    background-color: rgb(72, 70, 134);
    width: 100%;
    height: 800px;
  }
  .me{
    top: 100px;
    height: 400px;
    width: 100vw;
    border-radius: 50%;
  }
  .contact_phone{
    top: 100px;
    text-align: center;
    font-size: 29px;
  }
  .contact_email{
    top: 200px;
    text-align: center;
    font-size: 29px;
  }
  .resume{
    position: absolute;
    display: flex;
    top: 568px;
    left: 67%;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid black; border-radius: 10px;
  }
  .github {
    height: 120px;
    width: 120px;
  }
  .linkedin {
    height: 120px;
    width: 120px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 12px;
    width: 100%;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 375px) {
  .animation_div {
    position: absolute;
    height: 250px;
  }
  .real_title {
    font-size: 46px;
    top: 13%;
  }
  .navBar {
    margin-top: 240px;
  }
  .thinking_negative_1{
    font-size: 37px;
    top: 40%;
  }
  .thinking0{
    font-size: 38px;
    top: 42%;
  }
  .thinking1{
    font-size: 39px;
    top: 43%;
  }
  .thinking2{
    top: 45%;
    font-size: 40px;
  }

  .about_div {
    margin-top: 550px;
  }
  .who_text{
    font-size: 39.8px;
    top: -6.4%;
  }
  .projects_div {
    margin-top: 1300px;
    height: 3000px;
  }
  .contact_div {
    margin-top: 3850px;
    height: 750px;
  }
}
@media screen and (min-width: 390px) {
  .real_title {
    font-size: 50px;
    transform: translate(-50%, -60%);
  }
  .thinking_negative_1{
    font-size: 37px;
    top: 33%;
  }
  .thinking0{
    font-size: 38px;
    top: 34%;
  }
  .thinking1{
    font-size: 39px;
    top: 35%;
  }
  .thinking2{
    top: 36%;
    font-size: 40px;
  }
  .about_div {
    margin-top: 570px;
    height: 1000px;
  }
  .who_text{
    top: -5.8%;
  }
  .projects_div {
    margin-top: 1330px;
  }
  .contact_div {
    height: 800px;
  }


}
@media screen and (min-width: 414px) {
  .real_title {
    font-size: 50px;
  }
  .thinking_negative_1{
    font-size: 37px;
    top: 32%;
  }
  .thinking0{
    font-size: 38px;
    top: 33%;
  }
  .thinking1{
    font-size: 39px;
    top: 34%;
  }
  .thinking2{
    top: 35%;
    font-size: 40px;
  }
  .who_text {
    font-size: 25px;
    left: 22%;
    top: -4.45%;
  }
  .who_text{
    font-size: 39.8px;
    left: 5%;
    top: -5.7%;
  }
  .about_div {
    width: 100vw;
  }
  .projects_div {
    width: 100%;
  }
}
@media screen and (min-width: 500px) {
  .animation_div {
    position: absolute;
    height: 250px;
  }
  .navBar {
    margin: 0 auto; margin-top: 240px;
    margin-left: 8%;
  }
  .nav_item {
    font-size: 20px;
    margin: 0 30px;
  }
  .real_title {
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 50px;
  }
  .smaller_name {
    font-size: 20px;
  }
  .thinking_negative_1{
    color: rgba(0, 0, 0, .07);
    margin-top: 153px;
    left: 23px;
    position: absolute;
    font-size: 31px;
  }
  .thinking0{
    margin-top: 155px;
    color: rgba(0, 0, 0, .1);
    position: absolute;
    font-size: 31px;
    left: 25px;

  }
  .thinking1{
    color: rgba(0, 0, 0, .2);
    position: absolute;    
    margin-top: 157px;
    left: 27px;
    font-size: 32px;
  }
  .thinking2{
    margin-top: 160px;
    left: 30px;
    position: absolute;
    font-size: 34px;
  }
  .about_div{
    margin-top: 520px;
    height: 1000px;
  }
  .who_text {
    font-size: 35px;
    left: 22%;
    top: -5.1%;
  }
  .project1_img {
    width: 500px;
  }
  .projects_div {
    margin-top: 1220px;
    text-align: center;
    height: 2600px;
  }
  .why {
    margin: 0 auto;
    margin-left: 14%;
  }
  .contact_div {
    margin-top: 3800px;
    width: 100%;
  }
  .github {
    position: absolute;
    left: 12%;
  }
  .linkedin {
    position: absolute;
    left: 38%;
  }
  .me {
    width: 500px;
    margin-left: 30%;
    margin-top: 10px;
    transform: translateX(-30%);
  }

}
@media screen and (min-width: 650px) {
  .navBar {
    width: 66vw;
    margin-left: 10%;
  }
  .about_div {
    margin-top: 550px;
    height: 800px;
  }
  .nav_item {
    font-size: 20px;
    margin: 0 60px;
  }
  .who_text{
    font-size: 48px;
    top: -8.8%;
  }
  .why {
    position: absolute;
    font-size: 48.7px;
    margin: 0 auto;
    margin-left: 4%;
    top: -32px;
    background: linear-gradient(180deg, rgb(176, 69, 139) 55%, black 46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .contact_div {
    margin-top: 3800px;
    height: 800px;
  }
}
@media screen and (min-width: 820px) {
  .thinking_negative_1{
    font-size: 44.5px;
    top: 26%;
  }
  .thinking0{
    font-size: 44px;
    top: 27%;
  }
  .thinking1{
    font-size: 44px;
    top: 28%;
  }
  .thinking2{
    top: 30%;
    font-size: 44px;
  }

}
@media screen and (min-width: 912px) {
  .thinking_negative_1{
    font-size: 55px;
    top: 34%;
  }
  .thinking0{
    font-size: 56px;
    top: 36%;
  }
  .thinking1{
    font-size: 57px;
    top: 38%;
  }
  .thinking2{
    top: 40%;
    font-size: 58px;
  }
  .about_div{
    margin-top: 660px;
    padding-top: 90px
  }
  .who_text{
    top: -7.9%;
  }
  .about {
    color: rgb(176, 69, 139);
    opacity: .6;
    position: absolute;
    font-size: 20px;
    animation: fadeInNOut 5s infinite;
    animation-timing-function: cubic-bezier(.43,2.76,.49,-1.94);
    top: -40px;
    left: 10%;
  }
  .about1{
    position: absolute;
    left: 90px;
    top: 60px;
  }
 

}
@media screen and (min-width: 1024px) {
  .thinking_negative_1{
    font-size: 55px;
    top: 0%;
  }
  .thinking0{
    font-size: 56px;
    top: 32%;
  }
  .thinking1{
    font-size: 57px;
    top: 33%;
  }
  .thinking2{
    top: 34%;
    font-size: 58px;
  }
  .who_text {
    font-size: 55px;
    top: -9.8%
  }
  .about_div{
    display: block;
    padding-top: 0;
  }
  .about {
    position: absolute;
    top: -30px;
  }
  .about1 {
    position: absolute;
    left: 90px;
    top: 90px;
  }
  .about2 {
    margin-top: 160px;
    color: rgb(176, 69, 139);
    font-size: 20px;
  }
  .about3 {
    color: rgb(176, 69, 139);
    font-size: 20px;
  }
  .about4 {
    color: rgb(176, 69, 139);
    font-size: 20px;
  }
  .projects_div {
    margin-top: 1150px;
  }
  
  
}
@media screen and (min-width: 1300px) {
  .about1 {
    left: 55%;
  }
  .contact_div {
    height: 800px;
  }
} 
@media screen and (min-width: 1512px) {
  
  .app1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    gap: 10px;
  }
  .animation_div{
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow: hidden;
    left: 0;
    width: 100vw;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
  }
  .title {
    color: rgb(172, 175, 86);
    font-size: 50px;
    text-align: center;
    animation: slide 5s infinite;
  }
  .title2 {
    color: rgb(109, 180, 89);
    font-size: 50px;
    text-align: center;
    animation: invert-slide 2s infinite;
  }
  .title3 {
    color: rgb(111, 111, 246);
    font-size: 50px;
    text-align: center;
    animation: slide 4s infinite;
  }
  .title4 {
    color: rgb(157, 71, 51);
    font-size: 50px;
    text-align: center;
    animation: invert-slide 1s infinite;
  }
  .title5 {
    color: rgb(192, 109, 203);
    font-size: 50px;
    text-align: center;
    animation: slide 8s infinite;
  }
  .title6 {
    color: rgb(150, 83, 156);
    margin-top: -40px;
    font-size: 50px;
    text-align: center;
    animation: slide 6s infinite;
  }
  .title7 {
    color: rgb(19, 19, 59);
    font-size: 50px;
    text-align: center;
    animation: slide 2.4s infinite;
  }
  .title8{
    position: absolute;
    left: 0%;
    color: rgb(19, 19, 59);
    font-size: 50px;
    text-align: center;
    animation: slide 4s infinite;
  }
  .title9{
    position: absolute;
    top: 17%;
    font-size: 20px;
    color: rgba(19, 198, 59, .2);
    font-size: 50px;
    text-align: center;
    animation: rotate 2.2s infinite;
  }
  .title10{
    position: absolute;
    top: 17%;
    left: 90%;
    font-size: 20px;
    color: rgba(19, 198, 59, .2);
    animation: invert-slide 2.2s infinite;
  }
  .title11{
    position: absolute;
    left: 80%;
    font-size: 30px;
    top: 7%;
    color: rgba(222, 14, 50, .2);
    animation: rotate 6.2s infinite;
  
  }
  .real_title {
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 80px;
  }
  .smaller_name {
    font-size: 36px;
    margin-top: 10px;
  }  
  .navBar {
    width: 66vw;
    margin: 0 auto; margin-top: 250px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .nav_item {
    list-style: none;
    color: black;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }
  .thinking_box{
    height: 100px;
    width: 100vw;
    margin-top: 100px;
  }
  
  .thinking_negative_1{
    color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 5%;
    top: 40%;
    font-size: 43px;
  }
  .thinking0{
    color: rgba(0, 0, 0, .2);
    position: absolute;
    left: 6%;
    top: 42%;
    font-size: 46px;
  }
  .thinking1{
    color: rgba(0, 0, 0, .3);
    position: absolute;
    left: 7%;
    top: 44%;
    font-size: 50px;
  }
  .thinking2{
    top: 46%;
    left: 8%;
    position: absolute;
    font-size: 53px;
  }
  
  .name:hover {
    border-radius: 10px;
    background-color: rgba(255, 22, 22, 1);
    color: white;
    animation: none;
    cursor: pointer;
  }
  .name:hover .linkedin_tooltip {
    opacity: 100%;
  }
  .name {
    border: 1px soild red;
    animation: border-decoration 2s infinite;
  }
  .about_div {
    margin-top: 670px;
    position: absolute;
    text-align: start;
    display: block;
    border-radius: 10px;
    height: 800px;
    left: 0;
    z-index: 0;
    background-color: rgb(5, 0, 0);
    width: 100%;
    flex-direction: column;
  }
  .who_text{
    position: absolute;
    font-size: 67px;
    top: -12.3%;
    left: 35%;
    transform: rotate(14deg);
    background: linear-gradient(346deg, rgb(176, 69, 139) 48%, black 41%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about {
    color: rgb(176, 69, 139);
    opacity: .6;
    position: absolute;
    font-size: 30px;
    top: 10px;
    left: 20%;
  }
  .about1 {
    color: rgb(176, 69, 139);
    position: absolute;
    font-size: 36px;
    top: 125px;
    left: 15%;
  }
  .about_bullet1 {
    display: block;
    background-color: rgb(114, 101, 17);
    position: absolute;
    height: 20px; width: 20px;
    margin: 244px 80px 0 80px;
    transform: rotate(45deg);
    border-radius: 3px;
  }
  .about_bullet2 {
    display: block;
    background-color: rgb(114, 101, 17);
    position: absolute;
    height: 20px; width: 20px;
    margin: 390px 80px 0 80px;
    transform: rotate(45deg);
    border-radius: 3px;
  }
  .about_bullet3 {
    display: block;
    background-color: rgb(114, 101, 17);
    position: absolute;
    height: 20px; width: 20px;
    margin: 530px 80px 0 80px;
    transform: rotate(45deg);
    border-radius: 3px;
  }
  .about2 {
    color: rgb(176, 69, 139);
    position: absolute;
    font-size: 36px;
    margin: 200px 80px 0 130px;
  }
  .about3 {
    color: rgb(176, 69, 139);
    position: absolute;
    font-size: 36px;
    margin: 340px 80px 0 130px;
  }
  .about3point5 {
    color: rgb(114, 101, 17);
    position: absolute;
    font-size: 8px;
    margin: 410px 80px 0 230px;
  }
  .about4 {
    color: rgb(176, 69, 139);
    position: absolute;
    font-size: 36px;
    margin: 480px 80px 0 130px;
  }
  .about4point5 {
    color: rgb(114, 101, 17);
    position: absolute;
    font-size: 8px;
    margin: 550px 80px 0 1180px;
  }
  .about2point5 {
    position: absolute;
    font-size: 8px;
    top: 20px;
    margin: 380px 80px 0 800px;
  }
  .projects_div {
    position: absolute;
    display: block;
    margin-top: 1360px;
    left: 0;
    z-index: 1;
    background-color: rgb(57, 59, 2);
    width: 100%;
    height: 1830px;
  }
  .why {
    position: absolute;
    z-index: 1;
    font-size: 70px;
    top: -45px;
    left: 8%;
    background: linear-gradient(180deg, rgb(176, 69, 139) 55%, black 46%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .why1 {
    position: absolute;
    font-size: 14px;
    top: -14px;
    left: 70%;
  }
  .project1{
    position: absolute;
    top: 100px;
    left: 8%;
    border: 40px solid rgb(35, 21, 2);
    border-radius: 10px;
    height: 430px;
    width: 450px;
    overflow: hidden;
  }
  .project1_img {
    width: 100%;
    margin: 0 auto;
    height: 470px;
  }

  .project1_title {
    color: white;
    background-color: black;
    padding: 15px 20px;
    position: absolute;
    font-size: 50px;
    top: 80px;
    left: 300px;
  }
  .project1_desc {
    position: absolute;
    top: 240px;
    left: 500px;
  }
  .project1_text{
    font-size: 22px;
  }
  .iwb_link:hover {
    color: rgb(162, 0, 255);
    cursor: pointer;
  }
  .project1_link{
    display: block;
    font-size: 22px;
    position: absolute;
    top: 455px;
    right: 150px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project1_git{
    font-size: 22px;
    position: absolute;
    top: 455px;
    left: 69.5%;
    width: 260px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project1_git:hover {
    cursor: pointer;
  }
  .project1_link:hover {
    cursor: pointer;
  }
  .project2{
    position: absolute;
    top: 660px;
    left: 56%;
    border: 40px solid rgb(35, 21, 2);
    border-radius: 10px;
    height: 430px;
    width: 450px;
    overflow: hidden;
  }
  .project2_title{
    font-size: 50px;
    position: absolute;
    width: 400px;
    top: 645px;
    left: 350px;
    padding: 15px 20px;
    background-color: black;
    color: white;
  }
  .project2_desc {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 810px;
    left: 250px;
  }
  .project2_text{
    font-size: 22px;
    color: white;
    background-color: black;
    padding: 10px 20px;
  }
  .project2_link{
    font-size: 22px;
    position: absolute;
    top: 1010px;
    width: 140px;
    left: 450px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project2_git{
    font-size: 22px;
    position: absolute;
    top: 1010px;
    left: 300px;
    width: 100px;
    border-bottom-left-radius: 350px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project3{
    position: absolute;
    top: 1220px;
    left: 8%;
    border: 40px solid rgb(35, 21, 2);
    border-radius: 10px;
    height: 430px;
    width: 450px;
    overflow: hidden;
  }
  .project3_title{
    font-size: 50px;
    position: absolute;
    width: 400px;
    top: 1200px;
    left: 750px;
    padding: 15px 20px;
    background-color: black;
    color: white;
  }
  .project3_desc {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 1365px;
    left: 450px;
  }
  .project3_text{
    font-size: 22px;
    color: white;
    background-color: black;
    padding: 10px 20px;
  }
  .project3_link{
    font-size: 22px;
    position: absolute;
    top: 1560px;
    width: 140px;
    left: 1050px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .project3_git{
    font-size: 22px;
    position: absolute;
    width: 100px;
    top: 1560px;
    left: 900px;
    border-bottom-left-radius: 350px;
    color: black;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
  }
  .contact_div {
    position: absolute;
    display: block;
    margin-top: 3190px;
    left: 0;
    z-index: 10;
    border-top: 9px solid rgb(35, 21, 2);
    width: 100%;
    height: 700px;
  }
  .me{
    position: absolute;
    top: 100px;
    left: 100px;
    height: 480px;
    width: 480px;
    border-radius: 50%;
  }
  .contact_phone{
    position: absolute;
    top: 100px;
    font-size: 40px;
    left: 800px;
  }
  .contact_email{
    position: absolute;
    top: 200px;
    font-size: 40px;
    left: 730px;
  }
  .resume{
    align-items: center;
    justify-content: center;
    left: 74%;
    top: 54%;
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid black; border-radius: 10px;
  }
  .github {
    position: absolute;
    height: 130px;
    width: 130px;
    left: 50%;
    bottom: 190px;
  }
  .linkedin {
    position: absolute;
    height: 130px;
    width: 130px;
    left: 61.5%;
    bottom: 190px;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 12px;
    width: 100%;
    color: white;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .me{
    position: static;
    margin-top: 80px;
    margin-left: 100px;
    height: 480px;
    width: 500px;
    transform: translateX(0);
  }
  
}
@media screen and (min-width: 1425px) {
  .thinking_negative_1{
    font-size: 49px;
    top: 30%;
  }
  .thinking0{
    font-size: 50px;
    top: 32%;
  }
  .thinking1{
    font-size: 52px;
    top: 33%;
  }
  .thinking2{
    top: 34%;
    font-size: 54px;
  }
  .about2point5 {
    color: rgb(114, 101, 17);
    position: absolute;
    font-size: 8px;
    margin: 250px 80px 0 660px;
  }
  .about {
    color: rgb(176, 69, 139);
    opacity: .6;
    position: absolute;
    font-size: 30px;
    animation: fadeInNOut 5s infinite;
    animation-timing-function: cubic-bezier(.43,2.76,.49,-1.94);
    top: 10px;
    left: 20%;
  }
}
/* KEYFRAMES */

@keyframes border-decoration {
  0% {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1)
  }
  25% {
    border: 1px dashed black;
  }
  50% {
    border: 1px solid black;
  }
  75% {
    border: 1px dashed black;
  }
  100% {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .1)
  }

}
@keyframes fadeInNOut {
  0% {
    opacity: .5;
  }
  50% {
    opacity: .4;
  }
  75% {
    opacity: .6;
  }
  85% {
    opacity: .7;
  }
  100% {
    opacity: .5;
  }
}
@keyframes slide {
  0% {
    color: rgb(111, 111, 246);
    font-size: 50px;
    transform: translateX(-100%);
  }
  25% {
    font-size: 25px;
    margin-top: 10px;
  }
  50% {
    margin-top: 30px;
    transform: translateX(0);
    font-size: 0px;
  }
  100% {
    font-size: 50px;
    transform: translateX(100%);
  }
}
@keyframes invert-slide {
  0% {
    font-size: 50px;
    transform: translateX(100%);
  }
  25% {
    font-size: 25px;
    margin-top: 10px;
  }
  50% {
    margin-top: 30px;
    transform: translateX(0);
    font-size: 0px;
  }
  100% {
    font-size: 50px;
    transform: translateX(-100%);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    font-size: 10px;
  }
  100% {
    color: rgb(108, 147, 164);
    transform: rotate(360deg);
  }
}
